<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        <activity
            android:name="control.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="control.RecordActivity"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name="control.ListActitivy"
            android:label="@string/title_activity_list_file" >
        </activity>
        <activity
            android:name="control.WaveControlActivity"
            android:label="@string/title_activity_drawing_wave" >
        </activity>
        <activity
            android:name="control.PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
        <activity android:name="preferences.SettingPrefences" >
        </activity>
        <activity
            android:name="control.FFTActivity"
            android:label="@string/title_activity_fft" >
        </activity>
        <activity 
            android:hardwareAccelerated="false"
         
            android:name="control.SonaActivity"
            android:label="@string/title_activity_sona" >
        </activity>
    </application>

</manifest>